
body{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Roboto";
}

/* HEADER */
.header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #293647;
    color: #F9FAF8;
    flex-shrink: 0;
    padding-left: 200px;
    padding-right: 200px;
}

#header-logo{
    width: 600px;
    height: 40px;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin: 10px;
    flex-shrink: 0;
}

#header-menu > ul{
    margin: 10px;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    gap: 50px;
    flex-shrink: 0;
    font-size: 20px;
}

/* THE REST */

.god-container{
    display: flex;
    flex-direction: column;
}

.upper-container{
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #F9FAF8;
    background: #1F2937;
    height: 400px;
    margin-bottom: 30px;
}

.upper-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 400px;
    padding-right: 300px;
}

.upper-text > h1 {
    font-size: 48px;
    font-weight: 900;
}

.upper-text > h2 {
    font-size: 20px;
    margin-top: -20px;
    font-weight: lighter;
}

.upper-image{
    width: 550px;
    height: 250px;
    border: black 1px solid;
    background-image: url(./images/Supporting-Black-Businesses-top.jpg);
    background-size: cover;
    border: white 1px solid;
    color: black;
    text-align: center;
}

button {
    width: 130px;
    height: 40px;
    background: linear-gradient(to bottom, #4eb5e5 0%,#389ed5 100%); /* W3C */
    border: none;
    border-radius: 5px;
    position: relative;
    border-bottom: 4px solid #2b8bc6;
    color: #fbfbfb;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 1px 1px 1px rgba(0,0,0,.4);
    font-size: 15px;
    text-align: left;
    text-indent: 5px;
    box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2);
    cursor: pointer;
}

button:active {
    box-shadow: 0px 2px 0px 0px rgba(0,0,0,.2);
    top: 1px;
  }
  
  button:after {
    content: "";
    width: 0;
    height: 0;
    display: block;
    border-top: 20px solid #187dbc;
    border-bottom: 20px solid #187dbc;
    border-left: 16px solid transparent;
    border-right: 20px solid #187dbc;
    position: absolute;
    opacity: 0.6; 
    right: 0;
    top: 0;
    border-radius: 0 5px 5px 0;  
  }

  .mid-container{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }

  .mid-images{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      gap: 50px;
      padding-left: 200px;
      padding-right: 200px;
      margin-top: 40px;
      color: #1F2937;
  }

  .image-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 50px;
  }

  .image{
    height: 150px;
    width: 150px;
    border: 2px #3f5475 solid;
    border-radius: 5%;
    background-size: contain;
  }

  #img0{
      background-image: url(./images/img0.png);
  }

  #img1{
    background-image: url(./images/img1.jpeg);
  }

  #img2{
    background-image: url(./images/img2.jpg);
    background-size: cover;
  }

  #img3{
      background-image: url(./images/img3.jpg);
  }

  #img4{
      background-image: url(./images/img4.jpg);
      background-size: cover;
    }

  a{
    margin-top: 10px;
    text-align: center;
    text-justify: inter-word;
    font-weight: lighter;
  }

  .bottom-container{
    padding-left: 200px;
    padding-right: 200px;
    background-color: #E5E7EB;
    font-style: oblique;
  }

  .bottom-container > h1{
    text-align: left;
    font-size: 50px;
    font-weight: lighter;
}

  .bottom-container > h2{
      text-align: right;
      font-size: 25px;
      color: black;
      font-weight: bolder;
  }
  

